.vscode/
/test/data/
/test/test.exe
/test/out.txt
/server/data/
/server/server.exe
/client/client.exe
/*.bat
/*.py
debug/*.bat
debug/debug.exe
makefile
/source/ui.o
/debug/debug.o
/debug/debug_ui.exe
/debug/debug.cpp
/client/space/
/server/space/