.vscode/

/test/out.txt
server/log.txt
client/log.txt

/test/data/
/server/data/
/client/data/
/debug/data/
/another/data/

/test/test.exe
/server/server.exe
/client/client.exe
debug/debug.exe
/another/client.exe

/client/space/
/another/space/
/server/space/

/*.bat
/*.py
debug/*.bat

makefile
/source/ui.o
/debug/debug.o
/debug/debug_ui.exe
/debug/debug.cpp
